<div class="mainbo">
    <div class="nobor">
       <app-addlogo></app-addlogo>
        <div class="logodiv">
            <span style="font-weight: bold; color:rgb(128, 0, 255)">ADDRESS</span><br>
            <span style="font-weight: bold; color:black;">BOOK</span>
        </div>
    </div>
    <div class="solidbor">
        <div class="headdiv">
            <h2>Person Details</h2>
        </div>
        <div>
            <table>
                <tr>
                  <th id="fname">FirstName</th>
                  <th>LastName</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Zip code</th>
                  <th>Phone Number</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor = "let user of allUser">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.city}}</td>
                    <td>{{user.state}}</td>
                    <td>{{user.zipCode}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td><span class="material-symbols-outlined" (click)="delete(user.Id)">delete</span></td>
                    <td><span class="material-symbols-outlined" (click)="edit(user.Id)">edit</span></td>
                </tr>
              </table>
        </div>
        <div>
            <button mat-raised-button color="primary" routerLink="/form" class="btndiv">+Add User</button>
        </div>
    </div>
</div>
